<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet"  href="../static/css/lab0.css">

		<title>Lab 0</title>
		<h1>Why I am brilliantly awesome</h1>
	</head>

	<body>
	<div class="kitteh">
	<h3>I honestly can't think of any good reasons</h3>
	</div>
	<div>
		<ul>
		<li><a href="aowsenek.tk">My broken site</a>
		<li><p>My <a href="http://aowsenek.tk/dtc"> thing</a> is sadness (also broken)</p>
		<li> So...yeah.
		</ul>
	</div>
	<div class="img">
	
	<img src="../static/images/kitteh.jpg" width="200" height="200">
	<p> Well  have a kitty so at least I have that going for me. </p>
	</div>
	</body>

</html>

