<!DOCTYPE HTML>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="../../staticfiles/css/main.css" />
<title> Lab 1 </title>
<h1> Adder Demo </h1>
<script type="text/javascript">
	function addFunction(){
	url:"PostSBPHPp1.php",
	data:{
		num1:$("#first").val(),
		num2:$("#second").val(),
	},
	success:function(result){
		$("outputDiv").html(result);
}
})

/*	var n1=document.getElementById('num1').value;
	var n2=document.getElementById('num2').value;
	var ajax=newXMLHttpRequest();
	ajax.onreadystatechange=function(){
		if (ajax.readyState
	var n3 = parseInt(n1)+parseInt(n2);
	var divTag = document.getElementById('output');
	divTag.innerHTML = n3;
}*/
</script>
</head>
<body>
<input type = text id="num1">
<input type=text id="num2">
<a class="button" onclick="addFunction()"> Add</a>
<div id="output">
</div>
</body>
</html>
