<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/lab1.css" />
		<title>Quiz Game</title>
		<h2>Can You Name the Colleges I Applied To? </h2>
		<script src="../static/js/lab1.js"></script>
	</head>	
<body class="landing">
		<div class="start" id="start">
		<div class="clock">
		</div>
                <a class="button" onclick="start()">Start</a>
		</div>
	<div id="names">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>College</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td id = "1"></td>
              </tr>
              <tr>
                <td>2</td>
                <td id ="2"></td>
              </tr>
              <tr>
                <td>3</td>
                <td id= "3"></td>
              </tr>
              <tr>
                <td>4</td>
                <td id = "4"></td>
              </tr>
              <tr>
                <td>5</td>
                <td id = "5"></td>
              </tr>
              <tr>
                <td>6</td>
                <td id="6"></td>
              </tr>
              <tr>
                <td>7</td>
                <td id ="7"></td>
              </tr>
              <tr>
                <td>8</td>
                <td id="8"></td>
              </tr>
              <tr>
                <td>9</td>
                <td id="9"></td>
              </tr>
              <tr>
                <td>10</td>
                <td id="10"></td>
              </tr>
            </tbody>
          </table>
	</div>
	</div>
	</body>
</html>
