<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/lab2.css"/>
		<link rel="stylesheet" href="../static/css/main.css" />
		<title>Lab</title>
		<script src="../static/js/lab2.js"></script>
<div id="backspace">
<a  class="button" onclick="backspace()">Backspace</a>
</div>
<div id="directions">
<p>Click the words to make a poorly grammar'd sentence. </p>
</div>
<div><h2 id="sentenceDiv"></h2><div>
	</head>	
<body onload="loadWords(event)">
<div id = "tree">
</div>
</div>
<span>
<li> <h6>Gonna be honest here, this is only so I can fulfill the li requirement.</h6> </li>
</span>
</body>
</html>
