<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/lab5.css"/>
		<title>Lab</title>
		<script src="../static/js/lab5.js"/></script>
	</head>	
<body onload="dropdown()">
<h1> Period 1 </h1>
<h1> Anya Owsenek </h1>

<div>
	<table style=width:50%;>
		<tr>
			<th></p> GPA</p></th>
			<td id="gpa" onchange="gpa()"></td>

		</tr>
		<tr>
			<th><p> Quarter 1: </p></th>
			<td id="dd1"></td>
		</tr>
		<tr>
			<th><p> Quarter 2:</p> </th>
			<td id="dd2"></td>
		</tr>
	</table>

</div>
</body>
</html>
