<!DOCTYPE HTML>
<html>
<head>
<title>Webdev Home</title>
<link rel="stylesheet" href="../static/css/main.css" />
<link rel="stylesheet" href="../static/css/webdevhome.css" />
<h2>Anya Owsenek: Webdev Home Page</h2>
<h3> Webdev the hard way™ </h3>
</head>
<body>
<div class="dir">
<ul>
<li><a href="lab0">Lab Zero</a></li>
<li><a href="lab1">Lab One</a></li>
<li><a href="lab2">Lab Two</a></li>
<li><a href="lab3">Lab Three</a></li>
<li><a href="lab4">Lab Four</a></li>
<li><a href="lab5">Lab Five</a></li>
<li><a href="lab6">Lab Six</a></li>
<li><a href="lab7">Lab Seven</a></li>
</ul>
</div>
</body>
</html>
